[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://github.com/tsln-lab/eigen.git
[submodule "submodules/xsimd"]
	path = submodules/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
